<nav class="navbar navbar-light bg-light">
    <a href="/"><span class="navbar-brand mb-0 h1">Reddit</span></a>
    <a href="/new-post" class="btn btn-primary navbar-btn">New Post</a>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout">Logout</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/sign-up">Sign Up</a></li>
    </ul>
</nav>